
//inicio extend: page INDEX//

.tituloPortada2{
    width: 500px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: justify;
}

.tituloPortada3{
    @extend .tituloPortada2;
    font-family: monospace;
    
}
//fin extend//


//inicio mapa: page SERVICIOS//
$pruebas:(
    //declaramos el mapa//
    prueba1: rgba(255, 255, 255, .15),
    prueba2: rgba(255, 255, 254, .15),
    prueba3: rgba(255, 255, 253, .15)

    );

    @each $size, $color in $pruebas {
        .prueba-#{$size} {
            background-color: $color;
            width: 400px;
            height: 450px;
            margin: 40px 5px;
        
        }
    }


//fin mapa//




