@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.tituloPortada2, .tituloPortada3 {
  width: 500px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: justify;
}

.tituloPortada3 {
  font-family: monospace;
}

.prueba-prueba1 {
  background-color: #71c8af;
  width: 400px;
  height: 450px;
  margin: 40px 5px;
}

.prueba-prueba2 {
  background-color: #00989b;
  width: 400px;
  height: 450px;
  margin: 40px 5px;
}

.prueba-prueba3 {
  background-color: #005a7e;
  width: 400px;
  height: 450px;
  margin: 40px 5px;
}

.ilust {
  height: 400px;
  width: 300px;
  border: 5px dashed #005a7e;
  text-align: center;
  margin: 10px 20px;
  border-radius: 10px;
}

.header {
  margin: auto !important;
  width: 100%;
}

.header .navInicio {
  background-color: none;
}

.header .navSecction {
  background-color: #242040;
}

.navbar li a:hover {
  background-color: #54bf98;
  padding-left: 10px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cambioPosicion {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.nav-item {
  padding: 5px 20px;
}

.nav-link {
  color: #D1E0DF !important;
}

.roll {
  color: #54bf98;
  font-weight: bold;
  text-shadow: 0 0 5px #242040;
}

/* ---------------------------SECCIÓN INICIO--------------------------------- */
.body {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#242040), color-stop(#1d3c61), color-stop(#005a7e), color-stop(#007991), color-stop(#00989b), color-stop(#36a8a2), color-stop(#55b8a8), color-stop(#71c8af), color-stop(#88cfbe), color-stop(#a0d5cb), color-stop(#b8dad6), to(#d1e0df));
  background-image: linear-gradient(to left top, #242040, #1d3c61, #005a7e, #007991, #00989b, #36a8a2, #55b8a8, #71c8af, #88cfbe, #a0d5cb, #b8dad6, #d1e0df);
  -webkit-animation: cambiar 5s ease infinite;
          animation: cambiar 5s ease infinite;
  background-size: 400% 400%;
  width: 100%;
}

@-webkit-keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.inicio {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.inicio .tituloPortada {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px #242040;
}

.inicio .texto1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: justify;
}

/* --------------------SECCION SOBRE MI---------------- */
/* aclaracion con titulo1: al ser una etiqueta de bloque, ajuste el ancho para poder moverla  */
.nleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  margin: 15px 0;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nleft .remote {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 15px 0;
  width: 500px;
}

.nright {
  background-color: #242040;
  margin: 15px 0;
  height: auto;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}

.nright:hover {
  -webkit-box-shadow: 3px 3px 5px 3px #5f6c79;
          box-shadow: 3px 3px 5px 3px #5f6c79;
}

.icon {
  color: #D1E0DF;
  font-size: 50px;
  margin: 20px;
}

.icon:hover {
  text-shadow: 0 0 5px #242040;
}

.text3 {
  /* background-color: rgba(228, 184, 190); */
  color: #54bf98;
  text-align: justify;
}

.textoSobre {
  color: whitesmoke;
}

.result {
  color: orangered;
}

/* <!---------------------- SECCIÓN SERVICIOS-----------------------> */
/* <!-----Usando SASS------> */
.servicio1 {
  background-color: #D1E0DF;
}

.tituloServicios1 {
  margin: 0;
  color: #242040;
  text-shadow: 0 0 5px #54bf98;
  text-align: center;
  padding: 25px;
}

.contieneServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contieneServicios .serv {
  font-weight: bold;
  border-radius: 15px;
  font-size: 36px;
  -webkit-box-shadow: 2px 2px 5px 2px #5f6c79;
          box-shadow: 2px 2px 5px 2px #5f6c79;
}

.contieneServicios .serv .tituloCuadroServ {
  margin: 10px 0;
  color: #D1E0DF;
  font-weight: bold;
}

.contieneServicios .serv .descripServ {
  font-size: 24px;
  color: #D1E0DF;
  text-shadow: 0 0 5px #242040;
  padding: 15px;
  text-align: center;
  padding-top: 60px;
}

/* <!---------------------- SECCIÓN MI PORTFOLIO-----------------------> */
.bodyPorfolio {
  background-color: #D1E0DF;
}

.portfolio {
  width: 100%;
  height: auto;
  text-align: center;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/portadaPortfolio.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.jumbotron .tituloPortfolio1 {
  height: 50px;
  color: #D1E0DF;
  font-size: 50px !important;
  font-weight: bold;
  padding: 10px 5px;
  text-shadow: 0 0 5px #54bf98;
}

.cuadrosPortfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.item {
  width: 300px;
  height: 350px;
  /* background-color: orangered; */
  font-weight: bold;
  border: solid 2px #54bf98;
  border-radius: 10px;
  font-size: 48px;
  padding: 10px;
  margin: 10px;
}

.item1 {
  background-image: url(../img/caja-dis-graf.jpg);
  background-size: cover;
}

.item2 {
  background-image: url(../img/caja-fotografia.jpg);
  background-size: cover;
}

.item3 {
  background-image: url(../img/caja-dis-web.jpg);
  background-size: cover;
}

.clickItem {
  text-decoration: none;
  list-style: none;
  color: white;
}

.item:hover {
  -webkit-box-shadow: 3px 3px 5px 3px black;
          box-shadow: 3px 3px 5px 3px black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tituloCuadro {
  margin-top: 120px;
}

/* <!---------------------- SECCIÓN DISEÑO GRÁFICO-----------------------> */
.bodyGrafico {
  background: -webkit-gradient(linear, left top, left bottom, from(#54bf98), to(#D1E0DF));
  background: linear-gradient(to bottom, #54bf98, #D1E0DF);
}

.disGrafico1 {
  width: 100%;
  /* background-color: aquamarine; */
  text-align: center;
}

.cuadrosGrafico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* <!---------------------- SECCIÓN FOTOGRAFIA-----------------------> */
.cuadrosFotografia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagFoto {
  height: 300px;
  background-color: orangered;
}

.fotis1 {
  width: 450px;
  height: 300px;
}

/* <!---------------------- SECCIÓN DISEÑO WEB-----------------------> */
.disWeb1 {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  text-align: center;
}

/* <!---------------------- SECCIÓN HABLEMOS-----------------------> */
.secHablemos {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242040), color-stop(#1d3c61), color-stop(#005a7e), color-stop(#007991), color-stop(#00989b), color-stop(#36a8a2), color-stop(#55b8a8), color-stop(#71c8af), color-stop(#88cfbe), color-stop(#a0d5cb), color-stop(#b8dad6), to(#d1e0df)), url(../img/fondo-contacto.jpg);
  background-image: linear-gradient(to right bottom, #242040, #1d3c61, #005a7e, #007991, #00989b, #36a8a2, #55b8a8, #71c8af, #88cfbe, #a0d5cb, #b8dad6, #d1e0df), url(../img/fondo-contacto.jpg);
  background-size: cover;
  margin-bottom: 0;
}

.tituloHablemos1, .tituloFotografia1 {
  padding: 10px 0;
  text-align: center;
  color: #54bf98;
}

.formulario {
  border-radius: 15px;
  margin: 20px 0;
}

.contorno {
  padding: 10px 5px;
}

label {
  font-size: 15px;
  color: #242040;
  font-weight: bold;
  text-shadow: 0 0 5px whitesmoke;
}

.checkForm {
  font-size: 15px;
  color: #242040;
  font-weight: bold;
  text-shadow: 0 0 5px whitesmoke;
  margin-bottom: 5px;
}

.form-select {
  color: #5f6c79;
}

.correo {
  margin-top: 20px;
}

.clickHablemos {
  background-color: #54bf98;
  color: white;
  margin: 5px 10px;
  border: none;
}

.clickHablemos:hover {
  background-color: #242040;
}

.hablemos1 {
  margin-top: 150px;
}

.tituloHablemos2 {
  color: #54bf98;
  padding: 10px 50px;
}

.textoHablemos1, .tituloGrafico1 {
  color: #D1E0DF;
  padding: 10px 50px;
}

/* --------PIE de PAGINA---------- */
.piePagina {
  text-align: center;
  background-image: url(/img/wave-haikei-footer.svg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.contieneLogoChico {
  padding: 5px 0;
}

.logoPieLink {
  color: #D1E0DF;
  text-decoration: none;
}

.logoPieLink:hover {
  color: #54bf98;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.piePagina p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pieMenu li {
  display: inline-block;
  padding: 0;
}

.linea {
  border-right: 1px solid #54bf98;
}

.linkPie {
  text-decoration: none;
  padding: 10px;
  color: #D1E0DF;
}

.logoInsta {
  font-size: 28px;
  padding: 5px;
  color: #D1E0DF !important;
  font-weight: 100;
  padding: 10px 0;
}

.copy {
  background-color: #54bf98;
  text-align: center;
  padding: 5px;
  color: #242040;
  font-weight: 100;
}

/* medias queries */
@media only screen and (min-width: 320px) and (max-width: 1023px) {
  /* -------Inicio----- */
  .inicio {
    margin: 0;
  }
  .tituloPortada2, .tituloPortada3 {
    display: block;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tituloPortada3 {
    display: block;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  /* fin inicio */
  /* -------sobre mi----- */
  .nleft {
    padding: 0 10px;
  }
  .remote {
    width: 350px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0 20px;
  }
  /* servicios */
  .contieneServicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0;
  }
  .serv {
    margin: 5px 0;
  }
  /* inicio PORTFOLIO */
  .cuadrosPortfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  /* fin portfolio */
  /* inicio fotografia */
  .fotografia1 {
    margin-top: 0;
    width: 100%;
  }
  .tituloFotografia1 {
    color: #242040;
    position: relative;
    top: 10px;
    height: 40px;
    padding: 5px;
  }
  .cuadrosFotografia {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* -------Footer------ */
  /* fin Footer */
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  /* Ajustes: seccion inicio */
  .tituloPortada {
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 0 5px #242040;
  }
  .tituloPortada2, .tituloPortada3 {
    width: 300px;
    font-weight: bold;
    text-align: left;
  }
  .tituloPortada3 {
    width: 300px;
    text-align: left;
  }
  .texto1 {
    width: 300px;
    font-size: 20px;
    text-align: left;
  }
  /* Sección HABLEMOS: ajustes */
  .hablemos1 {
    margin-top: 30px;
  }
  .tituloHablemos2 {
    text-shadow: 0 0 5px #242040;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* AJUSTES barra nav */
  .cambioPosicion {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
/*# sourceMappingURL=estilos.css.map */