*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    // border: red 2px solid;
}

@import "_sassII";

//* ----------------BARRA NAVEGACION----------------- *//

$color-portada:linear-gradient(to left top, #242040, #1d3c61, #005a7e, #007991, #00989b, #36a8a2, #55b8a8, #71c8af, #88cfbe, #a0d5cb, #b8dad6, #d1e0df);
$color-fondo: #D1E0DF;
$color-nav:#242040;
$color-footer:#242040;
$color-texto-nav:#54bf98;
$color-texto-footer:#54bf98;
$color-texto-footer-secundario:#D1E0DF;


.header{
    margin: auto !important;
    width: 100%;
    
    .navInicio{
        background-color: none;
    }
    .navSecction{
        background-color:$color-nav ;
    }
}


.navbar li a:hover{
    background-color: $color-texto-nav;
    padding-left: 10px !important;
    transition: 0.5s;
}

.cambioPosicion{
    flex-grow: 0;
}

.nav-item{
    padding: 5px 20px;

}

.nav-link{
    color: $color-fondo !important;
}
.roll{
    color: $color-texto-nav;
    font-weight: bold;
    text-shadow: 0 0 5px $color-nav;

}


/* ---------------------------SECCIÓN INICIO--------------------------------- */
.body{
    background-image: $color-portada;
    animation: cambiar 5s ease infinite;
    background-size: 400% 400%;
    width: 100%;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    
    .tituloPortada{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 0 5px $color-nav;
    }

    .texto1{
        @extend .tituloPortada;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        text-align: justify;
        margin: 0 20px;
        
    }

    
}

.imgVector{
    padding: 10px 0;
}



/* --------------------SECCION SOBRE MI---------------- */


.fondoRow{
    margin: 0;

    .nleft{
        width: 500px;
        display: flex;
        border-radius: 25px;
        margin: 15px;
        padding: 10px;
        justify-content: center;
    
        .remote{
            width: 100%;
        }
    }

    .nright{
        width: 500px;
        background-color:$color-footer;
        margin: 15px;
        height: auto;
        padding: 10px;
        text-align: justify;
        border-radius: 25px;
    }
}


.icon{
    color: $color-fondo;
    font-size: 50px;
    margin: 20px;
    text-align: center;

}

.text3{
    
    color: $color-texto-nav;
    text-align: justify;
}
.textoSobre{
    color: whitesmoke;
}



/* <!---------------------- SECCIÓN SERVICIOS-----------------------> */

/* <!-----Usando SASS------> */

.servicio1{
    background: url(../img/stacked-waves-haikei.svg);
    background-size: cover;
    align-items: center;
    justify-content: space-evenly;
    
}

.tituloServicios1{
    margin: 0;
    color: $color-nav ;
    text-shadow: 0 0 5px $color-texto-nav;
    text-align: center;
    padding: 25px;
}

.contieneServicios{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    text-align: center;
    flex-direction: row;

    .serv{
        
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 5px;
        backdrop-filter: blur(5px);
        font-weight: bold;
        border-radius: 15px;
        font-size: 36px;
        
        
        .tituloCuadroServ{
            margin: 20px 15px;
            color: $color-nav;
            font-weight: bold;
            height: 20%;
            
        }
        

        .descripServ{
            font-size: 16px;
            color: $color-fondo;
            padding: 0 30px;
            text-align: justify;
            height: 200px;
            
        }

        
    }

}


/* <!---------------------- SECCIÓN MI PORTFOLIO-----------------------> */

.bodyPorfolio{
    background-color: $color-fondo;
}
.portfolio{
    width: 100%;
    height: auto;
    text-align: center;
}
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/portadaPortfolio.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;

    .tituloPortfolio1{
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 5px;
        backdrop-filter: blur(5px);
        border-radius: 15px;
        color: $color-nav;
        font-size: 50px !important;
        font-weight: bold;
        padding: 15px;
        text-shadow: 0 0 5px $color-texto-nav;
        
    }
    

}   

.cuadrosPortfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
}
.item{
    width: 400px;
    height: 300px;
    font-weight: bold;
    border: solid 2px $color-texto-nav;
    border-radius: 10px;
    font-size: 48px;
    padding: 10px;
    margin: 10px;
}


.cuadrosFotografia{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: center;
}

.imagFoto{
    height: 300px;
    margin: 15px 0;
}

.fotis1{
    width: 450px;
    height: 300px;
    border-radius: 10px;
}

.subir{
    @extend .cuadrosPortfolio;
    margin: 15px;
}


/* <!---------------------- SECCIÓN HABLEMOS-----------------------> */

.secHablemos{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right bottom, #242040, #1d3c61, #005a7e, #007991, #00989b, #36a8a2, #55b8a8, #71c8af, #88cfbe, #a0d5cb, #b8dad6, #d1e0df), url(../img/fondo-contacto.jpg);
    background-size: cover;
    margin-bottom: 0;

}

.tituloHablemos1{
    padding: 10px 0;
    text-align: center;
    color:$color-texto-footer;

}

.formulario{
    
    border-radius: 15px;
    margin: 20px 0;

}


.contorno{
    padding: 10px 5px;
    
    
}


label{
    font-size: 15px;
    color:$color-nav;
    font-weight: bold;
    text-shadow: 0 0 5px whitesmoke;

}

.checkForm{
    font-size: 15px;
    color:$color-nav;
    font-weight: bold;
    text-shadow: 0 0 5px whitesmoke;
    margin-bottom: 5px;
}

.form-select{
    color: rgb(95, 108, 121);
}
.correo{
    margin-top: 20px;
}

.clickHablemos{
    background-color:$color-texto-nav;
    color: white;
    margin: 5px 10px;
    border: none;
    width: 250px;
    
}

.clickHablemos:hover{
    background-color: $color-nav;
    
}

.hablemos1{
    margin-top: 150px;
}

.tituloHablemos2{
    
    color: $color-texto-nav;
    padding: 10px 50px;

}
.textoHablemos1{
    
    color: $color-fondo;
    padding: 10px 50px;
}

/* --------PIE de PAGINA---------- */

.piePagina{
    text-align: center;
    background-image: url(../img/wave-haikei-footer.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.contieneLogoChico{
    padding: 5px 0;
}

.logoPieLink{
    color: $color-texto-footer-secundario;
    text-decoration: none;
}

.logoPieLink:hover{
    color: $color-texto-footer;

    transition: 0.5s;
}
.piePagina p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content:center
}

.pieMenu li{
    display: inline-block;
    padding: 0;
}

.linea{
    border-right: 1px solid $color-texto-footer;
}

.linkPie{
    text-decoration: none ;
    padding: 10px;
    color: $color-texto-footer-secundario;
}



.logoInsta{
    font-size: 28px;
    padding: 5px;
    color: $color-texto-footer-secundario !important;
    font-weight:100;
    padding: 10px 0;
}


.copy{
    background-color:$color-texto-footer;
    text-align: center;
    padding: 5px;
    color: $color-texto-footer-secundario;
    font-weight:100;
}


/* medias queries */

@media only screen and (min-width: 320px) and (max-width: 1023px){

    /* -------Inicio----- */
    .inicio{
        
        margin: 0;
    }
    .tituloPortada2{
        display: block;
        justify-content: space-evenly;
    }

    .tituloPortada3{
        display: block;
        justify-content: space-evenly;
        
    }

    

        /* fin inicio */

    /* -------sobre mi----- */

    .nleft{
        padding: 0 10px;
        
        
    }
    .remote{
        width: 100%;
        height: 100%;
        // object-fit: cover;
        
    }

    .imagen{
        width: 350px;
        height: 350px;
        
    }

    /* servicios */

    .contieneServicios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:  5px 0;

    }

    .serv{
        margin: 5px 0;
    }

/* inicio PORTFOLIO */
    .cuadrosPortfolio{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;
    }
    

    /* fin portfolio */

    /* inicio fotografia */

    .fotografia1{
        margin-top: 0;
        width: 100%;

    }

    .tituloFotografia1{
        color: $color-nav;
        position: relative;
        top: 10px;
        height: 40px;
        padding: 5px;
        
    }

    .cuadrosFotografia{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:  300px;
        justify-items: center;
        align-items: center;
        
    }

    /* -------Footer------ */

        /* fin Footer */

}

@media only screen and (min-width: 320px) and (max-width: 576px){

    /* Ajustes: seccion inicio */
    .tituloPortada{
        font-size: 80px;
        font-weight: bold;
        text-align: left;
        text-shadow: 0 0 5px $color-nav;
    }

    .tituloPortada2{
        width: 300px;
        font-weight: bold;
        text-align: left;
    }

    .tituloPortada3{
        width:300px;
        text-align: left;
    }

    .textoPortada{
        width: 300px;
        font-size: 20px;
        text-align: left;
        padding: 0 20px;
    }


    /* Sección HABLEMOS: ajustes */
    .hablemos1{
        margin-top: 30px;
        
    }
    .tituloHablemos2{
        text-shadow: 0 0 5px $color-nav;
    }

}

@media only screen and (min-width: 320px) and (max-width: 768px){

    /* AJUSTES barra nav */

    .cambioPosicion{
        flex-grow: 1;
    }

}

@media only screen and (min-width: 320px) and (max-width: 991px){

}




